html, body { height: 100%; width: 100%; margin: 0; }
body {
/*	padding-top: 40px;*/
}

nav img, footer img {
	width: 30px;
	height: 30px;
}

footer .container {
	text-align: center;
	padding: 15px;
}

