sudo: false
language: go
go:
  - 1.5
  - 1.6
  - 1.7
  - tip

services:
  - mysql

env:
  - PATH=/home/travis/gopath/bin:$PATH

before_install:
  - go get github.com/golang/lint/golint
  - go get github.com/mitchellh/gox
  - go get github.com/jteeuwen/go-bindata/...
  - npm install -g bower
  - npm install -g grunt
  - mkdir closure
  - git clone https://github.com/google/closure-library.git closure/closure-library
  - git clone https://github.com/google/closure-compiler.git closure/closure-compiler
  - bower install
  - npm install

script:
  - mysql -e 'create database test_techradar'
  - go vet $(go list ./... | grep -v '/vendor/')
  - go test $(go list ./... | grep -v '/vendor/')
  - go-bindata -o assets.go dist/
  - gox -ldflags "-X main.Version=$TRAVIS_BUILD_NUMBER" -output "tech-radar_{{.OS}}_{{.Arch}}" -osarch="linux/amd64"
  - gzip techradar_linux_amd64
  - mkdir -p dist release
  - cp tech-radar_linux_amd64.gz dist/tech-radar_linux_amd64_latest.gz
  - cp tech-radar_linux_amd64.gz release/tech-radar_linux_amd64_$(git describe --tags).gz

deploy:
  - provider: s3
    access_key_id: AKIAJWN36CZNBCQXFFTQ
    secret_access_key:
      secure: Fb/C4UDW1JVPtBvYhrZMW7EdRdHpUmjfkBbZ1RdefIqcbawEHMCCjB1yW/+KXCK5Egs8hpWJlPgD0kxG4xbhvmMDXe6fICfzMeFVgy2vkGY7WYFIPkARdbi4H2+5TlET2LJMiPOjX/jtrYnInkYir/zj9c+F6SN3JzzHeHNNYb+E5Uyt8uaqCoWpA+mNBiVuXSs+Inqn2UHlVE1RWpQ7zE57FcDkKKdbvn6JlAraa6rjxsxbCiuvqNr4OiigfPIa88aodbFLLvyOCyVlp/RYH0WBRjjHPGxk/kUy1IS83a2wiYS56eDVExc6pEc/60kMoMapJ+ikAFTV8MhzRHRHYNWwAbT7Z35P2SdLlK9tlNODnE9MkmfBhlEE4JgTwWZVxuwHmRSfLfr9N1A4qes6e3P2BRxPWnDWvFJYfHcnx9HMz5ibqZasrx8ziO5+zHMYT7wobt6IK6IYvLf99NnujbZoS1i6apdT5UMP+YIH/OymTk6QmzjPPgKwpQtHYA74N7bxrjRqjlejfivC48YT4H2R3gqzBlQR0ZhxA2E1ggZ1w2CTMS1Aq2rJw+gV1zw/28euc6cHtpn9ppNElazF+GYApY/X+dxyBjsrjuLMKLjAEUOCMZkuOzGKN09Wls+iDcAOv0tc6pn2wgv6jVJUVIIbM++o2AQXm93axckiKvY=
    bucket: dl.fligl.io
    skip_cleanup: true
    local-dir: dist
    upload-dir: artifacts/tech-radar
    acl: public_read
  - provider: s3
    access_key_id: AKIAJWN36CZNBCQXFFTQ
    secret_access_key:
      secure: Fb/C4UDW1JVPtBvYhrZMW7EdRdHpUmjfkBbZ1RdefIqcbawEHMCCjB1yW/+KXCK5Egs8hpWJlPgD0kxG4xbhvmMDXe6fICfzMeFVgy2vkGY7WYFIPkARdbi4H2+5TlET2LJMiPOjX/jtrYnInkYir/zj9c+F6SN3JzzHeHNNYb+E5Uyt8uaqCoWpA+mNBiVuXSs+Inqn2UHlVE1RWpQ7zE57FcDkKKdbvn6JlAraa6rjxsxbCiuvqNr4OiigfPIa88aodbFLLvyOCyVlp/RYH0WBRjjHPGxk/kUy1IS83a2wiYS56eDVExc6pEc/60kMoMapJ+ikAFTV8MhzRHRHYNWwAbT7Z35P2SdLlK9tlNODnE9MkmfBhlEE4JgTwWZVxuwHmRSfLfr9N1A4qes6e3P2BRxPWnDWvFJYfHcnx9HMz5ibqZasrx8ziO5+zHMYT7wobt6IK6IYvLf99NnujbZoS1i6apdT5UMP+YIH/OymTk6QmzjPPgKwpQtHYA74N7bxrjRqjlejfivC48YT4H2R3gqzBlQR0ZhxA2E1ggZ1w2CTMS1Aq2rJw+gV1zw/28euc6cHtpn9ppNElazF+GYApY/X+dxyBjsrjuLMKLjAEUOCMZkuOzGKN09Wls+iDcAOv0tc6pn2wgv6jVJUVIIbM++o2AQXm93axckiKvY=
    bucket: dl.fligl.io
    skip_cleanup: true
    local-dir: release
    upload-dir: artifacts/tech-radar
    acl: public_read
    on:
      tags: true
  - provider: releases
    api_key:
      secure: vqwo7VYUfjgwW9fyvAmM0UhUegoxnKXY1ki/Z7PHt4wDGpzxVDrzDCix44FFHBl9ejhnfvTr7vb9mEDNaK6CucMs13HrwhwSD8bkr70suMpifql/L4n60jYc4XgLnBS9noIpks234nCsGXJnSmQpBAZA/UdbTuKt48d4vu1NAGqAGJlc1W8/va/BuSzWbDu6UlHQHinpD43AFhMS3WmnHO6oUOEcFySisSHxMrKfiCil3fb0w0J0rDuK5vaVxsljF/TjpTTf+RB1rhCrnZMudrH3QlT7byRvvk9QyKzMFyuiE9Ce1JiDULE7OCyK9dBSdSWdNTyJGa3e4HjvrwQhmmzqoVo15nOD0nfOpFHnp/zdNNPjt4kyx0FgNgQ6l9FhXGIBv+C0mRExOHHX4ZgatwWFVI08kj+qUi7QchZjfuGFTFkvtC09zfM6BgHZPGq7PUXlJhmGW8C5Ln1EonE3lnn8u5QWjm4FPdMMRfiissBDrx/sNM2JJn+qrt6uF95sXv+Ya0TX+qMEpLlxebyFEmTyKUTMR++KZQFcOzx+/aIVgv3jCJV1g7AhrIf0ZWg7MA62vJpDW59bJL9h9N+o47wWdNtWJQBG4+Jh1OwqYaBdqaUNn9aTfmzXnl6SRRQEPfYq0zv7XF7KfyEOYpPNCa87zN5c61T2oR0ga2gdo78=
    file: tech-radar_linux_amd64.gz
    on:
      tags: true
