html, body { height: 100%; width: 100%; margin: 0; }
#combo-radar {
	width: 484px;
	height: 484px;
}
.radar-wrapper {
	float: left;
	display: block;
	width: 242px;
	height: 242px;
	border: 0px solid black;
}

.theme-tr {
	fill: rgba(127,218,36,0.4);
	stroke: rgba(127,218,36,0.3);
}
.theme-tl {
	stroke: rgba(0,0,255,.4);
	fill: rgba(0,0,255,.3);
}
.theme-bl {
	fill: rgba(218,127,36,0.4);
	stroke: rgba(218,127,36,0.3);
}
.theme-br {
	stroke: rgba(218,36,218,0.4);
	fill: rgba(218,36,218,.3);
}
.radar-wrapper .ring {
	stroke-opacity: .2;
	fill: none;
	stroke-width: 2px;
}
.radar-wrapper .circle {
	fill-opacity: .2;
}
.radar-wrapper .marker text {
	stroke: none;
	fill: rgba(255,255,255,.9);
}

.radar-wrapper .marker circle {
	fill-opacity: .4;
	stroke-opacity: .3;
	stroke-width: 1;
}

