html, body { height: 100%; width: 100%; margin: 0; }
body {
	padding-top: 40px;
}
.center-anchor {
	transform: translate(-50%, -50%); /* anchor to center*/
}
.item-list .focus {
	background-color: #e6f2ff;
}
.item-list .hover {
	background-color: #eee;
}
.item-list .list-group-item {
	padding: 5px;
}
#combo-radar {
	width: 484px;
	height: 484px;
}
#quadrant-radar {
	width: 352px;
	height: 352px;
}
.radar-wrapper {
	float: left;
	display: block;
	fill-opacity: .4;
	stroke-opacity: .3;
}

.theme-tr {
	fill: #009933;
	stroke: #009933;
}
.theme-tl {
	stroke: #0000ff;
	fill: #0000ff;
}
.theme-bl {
	fill: #ff0000;
	stroke: #ff0000;
}
.theme-br {
	stroke: #cc33ff;
	fill: #cc33ff;
}
.radar-wrapper .graph-rings .ring-axis {
}
.radar-wrapper .graph-rings .ring-arc {
	stroke-opacity: .2;
	fill: none;
	stroke-width: 2px;
}
.radar-wrapper .graph-rings .ring-fill {
	fill-opacity: .2;
}
.radar-wrapper .marker circle {
	fill-opacity: .4;
	stroke-opacity: .3;
	stroke-width: 1;
}
.radar-wrapper .marker rect {
	transform: translate(-50%, -50%); /* anchor to center*/
}
.radar-wrapper .marker .focus {
	fill: #ffffff;
	fill-opacity: .5;
	stroke-opacity: .3;
	stroke-width: 1;
}
.radar-wrapper .marker .hover {
	fill-opacity: .1;
	stroke-opacity: .3;
	stroke-width: 1;
}
.radar-wrapper .marker .number {
	stroke: none;
	fill: rgba(255,255,255,.9);
}
.radar-wrapper .marker .title {
	stroke: none;
	fill: rgba(255,255,255,.9);
}


