svg {
  fill: rgba(178,255,255,.3);
}
svg circle {
  fill: rgba(0,0,255,0.4);
  stroke: rgba(0,0,255,0.3);
}
svg .focus {
  stroke: rgba(178,145,56,.7);
    fill: rgba(178,255,255,.7);
}

.ring {
	stroke: rgba(0,0,255,0.2);
	fill: rgba(0,0,255,0.1);
	stroke-width: 2px;
}
