<div class="modal-header">
	<h3 class="modal-title">
		{{marker.model.title}}
		<span ng-hide="!marker.model.new" class="badge">
			New
		</span>
	</h3>
</div>

<div class="modal-body">

	<!-- Fields -->
	<div ng-hide="!editable">
		<div class="form-group">
			<label for="bs-title" class="control-label">Title</label>
			<input id="bs-title" type="text" class="form-control" placeholder="Title" ng-model="marker.model.title"/>
		</div>
		<div class="form-group">
			<div class="checkbox">
				<label>
					<input id="bs-new" type="checkbox" ng-model="marker.model.new">
					<span class="checkbox-material"><span class="check"></span></span>
					New or Moved
				</label>
			</div>
		</div>
		<div class="form-group">
			<label for="bs-summary" class="control-label">Summary</label>
			<textarea id="bs-summary" class="form-control" rows="2" placeholder="Summary" ng-model="marker.model.summary"></textarea>
		</div>
		<div class="form-group">
			<label for="bs-body" class="control-label">Body</label>
			<textarea id="bs-body" class="form-control" rows="6" placeholder="Body" ng-model="marker.model.body"></textarea>
		</div>
	</div>
	<!-- end -->

</div>

<div class="modal-footer">
	<button class="btn btn-raised btn-danger" type="button" ng-click="delete()">Delete</button>
	<button class="btn btn-raised btn-success" type="button" ng-click="ok()">OK</button>
</div>
