<div class="panel panel-default" ng-repeat="type in radar.types.getTypes()">
	<div class="panel-heading">
		{{radar.types.getTypeTitle(type)}}
		<i class="material-icons"
			uib-tooltip="{{radar.types.getTypeDescription(type)}}"
			tooltip-placement="right">info</i>
		<button class="bs-add-marker pull-right btn btn-default btn-xs" type="button" 
				ng-click="openEditor(radar.newMarker(type))"
				ng-hide="!editable"
			>
			<i class="material-icons">add_to_photos</i>
		</button>
	</div>
	<div class="list-group item-list">
		<div ng-repeat="item in radar.markers"
				id="marker-{{item.idx}}-{{type}}"
				class="list-group-item"
				ng-click="radar.activateMarker(item)"
				ng-class="{focus:item.f, hover:item.h && !item.f}"
				ng-mouseenter="radar.enterHover(item)"
				ng-mouseleave="radar.exitHover(item)"
				ng-hide="item.model.type != type"
			>
				{{item.idx}}. {{item.model.title}}
				<span ng-hide="!item.model.new" class="badge">
					New
				</span>

			<div class="list-group-item-body" ng-hide="item !== radar.current">
				<div markdown="item.model.summary"></div>
				<a ng-hide="editable" href="{{detailsHref}}?id={{item.model.id}}">More</a>

				<button class="pull-right btn btn-default btn-xs" type="button"
					ng-hide="!editable"
					ng-click="openEditor(item)">
					<i class="material-icons">mode_edit</i>
				</button><br />
			</div>
		</div>
	</div>
</div>
