<div class="page-header">
	<h1>{{message}}</h1>
</div>

<div class="col-md-6">
	<div class="panel-body">

		<div class="panel panel-default" ng-repeat="type in radar.getTypes()">
			<div class="panel-heading">
				{{type}}
			</div>
			<div class="list-group item-list">
				<div ng-repeat="item in radar.markers"
						id="marker-{{item.idx}}-{{type}}"
						class="list-group-item"
						ng-click="radar.activateMarker(item)"
						ng-class="{focus:item.f, hover:item.h && !item.f}"
						ng-mouseenter="radar.enterHover(item)"
						ng-mouseleave="radar.exitHover(item)"
						ng-hide="item.model.type != type"
					>
					<h5>{{item.idx}}. {{item.model.title}} <span ng-hide="!item.model.new" class="label label-default">New</span></h5>

					<div ng-hide="item.idx !== radar.current.idx">
						{{item.model.deg}} deg, {{item.model.mag}}<br />
						{{item.coord.x}}, {{item.coord.y}}
					</div>
				</div>
			</div>
		</div>

	</div>
</div>

<div class="col-md-6"> 

	<div class="panel-body affix nav"> 

		<div id="quadrant-radar"> 
			<svg class="radar-wrapper theme-{{radar.graph.view}}"
					ng-attr-height="{{radar.graph.h}}"
					ng-attr-width="{{radar.graph.w}}"
					ng-click="radar.deactivateMarkers()"
				>
				
			
				<g class="graph-rings">
					<line ng-repeat="axis in radar.graph.axes" class="ring-axis" ng-attr-x1="{{axis[0]}}" ng-attr-y1="{{axis[1]}}" ng-attr-x2="{{axis[2]}}" ng-attr-y2="{{axis[3]}}" />
					<path ng-repeat="ring in radar.graph.rings.arcs" class="ring-arc" ng-attr-d="{{ring}}" />
					<path ng-repeat="ring in radar.graph.rings.fills" class="ring-fill" ng-attr-d="{{ring}}" />
				</g>
	
				<g class="marker" ng-repeat="el in radar.markers" 
						my-draggable="{{el.idx}}"
						ng-click="radar.activateMarker(el); $event.stopPropagation();"
						ng-mouseenter="radar.enterHover(el)"
						ng-mouseleave="radar.exitHover(el)"
						scroll-on-click="{{el.idx}}-{{el.model.type}}"
					>
					<circle ng-attr-cx="{{el.coord.x}}" ng-attr-cy="{{el.coord.y}}" 
							ng-attr-r="{{radar.markerRadius}}" 
							ng-class="{focus:el.f, hover:el.h && !el.f}"
							ng-hide="el.model.new"
							></circle>
					<rect ng-attr-x="{{el.coord.x}}" ng-attr-y="{{el.coord.y}}" 
							ng-attr-width="{{radar.markerRadius*2}}" 
							ng-attr-height="{{radar.markerRadius*2}}" 
							ng-class="{focus:el.f, hover:el.h && !el.f}"
							ng-hide="!el.model.new"
							></rect>
					<text class="number" text-anchor="middle" ng-attr-x="{{el.coord.x}}" ng-attr-y="{{el.coord.y}}" dx="0" dy="5">
						{{el.idx}}
					</text>
					<title>{{el.model.title}}</title>
				</g>
			</svg>

		</div>
		<label uib-tooltip="edit">Edit</label>
						
		<input type="checkbox" ng-model="editable" /><br />

		<button class="btn" type="button" ng-click="newMarker()">New</button>
		<button class="btn" type="button" ng-click="saveAll()">Save</button>
	</div>
</div>
	


